version: '3.6'

services:
  lodestar-beacon:
    container_name: lodestar-beacon
    image: "{{ lodestar_image }}:{{ lodestar_version }}"
    restart: always
{% if lodestar_beacon_network_mode == "host" %}
    network_mode: "{{ lodestar_beacon_network_mode }}"
{% else %}
    ports:
      - {{ lodestar_p2p_port }}:{{ lodestar_p2p_port }}
      - {{ lodestar_rest_port }}:{{ lodestar_rest_port }}
{% endif %}
{% if lodestar_beacon_environment_vars | length > 0 %}
    environment:
{% for item in lodestar_beacon_environment_vars %}
      - {{ item }}
{% endfor %}
{% endif %}
    user: "{{ lodestar_user_details.uid}}:{{ lodestar_group_details.gid }}"
    volumes:
      - {{ lodestar_data_dir }}:/data
      - {{ lodestar_config_dir }}:/config
      - {{ lodestar_jwt_auth_file}}:/jwt/jwt-secret.hex:ro
      - {{ lodestar_log_dir }}:/log
    command: >-
      beacon
      --dataDir=/data
      --network={{ lodestar_network }}
      --jwt-secret=/jwt/jwt-secret.hex
      --port={{ lodestar_p2p_port }}
      --execution.urls={{ lodestar_execution_urls }}
      --checkpointSyncUrl={{ lodestar_checkpoint_sync_url }}
{% if lodestar_default_fee_recipient != ""  %}
      --suggestedFeeRecipient={{ lodestar_default_fee_recipient }}
{% endif %}
{% if lodestar_rest_enabled|bool == True  %}
      --rest=true
      --rest.address="{{ lodestar_rest_interface }}"
      --rest.port={{ lodestar_rest_port }}
      --rest.cors="{{ lodestar_rest_cors }}"
      --rest.namespace="{{ lodestar_rest_namespace }}"
{% endif %}
{% if lodestar_metrics_enabled|bool == True  %}
      --metrics=true
      --metrics.address="{{ lodestar_metrics_interface }}"
      --metrics.port={{ lodestar_metrics_port }}
{% endif %}
      --logLevel={{ lodestar_log_level }}
      --logFile=/log/lodestar-beacon.log
      --logFileLevel={{ lodestar_log_level }}
      --logFormat json

{% if lodestar_validator_enabled|bool == True  %}
  lodestar-validator:
    container_name: lodestar-validator
    image: "{{ lodestar_image }}:{{ lodestar_version }}"
    restart: always
{% if lodestar_validator_network_mode == "host" %}
    network_mode: "{{ lodestar_validator_network_mode }}"
{% endif %}
    user: "{{ lodestar_user_details.uid}}:{{ lodestar_group_details.gid }}"
    depends_on:
      - lodestar-beacon
    volumes:
      - {{ lodestar_data_dir }}:/data
      - {{ lodestar_config_dir }}:/config
      - {{ lodestar_jwt_auth_file}}:/jwt/jwt-secret.hex:ro
      - {{ lodestar_log_dir }}:/log
    command: >-
      validator
      --dataDir=/data
      --network={{ lodestar_network }}
      --server={{ lodestar_validator_beaconnodes }}
      --keystoresDir="{{ lodestar_keystores_dir }}"
      --secretsDir="{{ lodestar_secrets_dir }}"
{% if lodestar_default_fee_recipient != ""  %}
      --suggestedFeeRecipient={{ lodestar_default_fee_recipient }}
{% endif %}
{% if lodestar_graffiti != ""  %}
      --graffiti="{{ lodestar_graffiti }}"
{% endif %}
{% if lodestar_keymanager_api_enabled|bool == True  %}
      --keymanager=true
      --keymanager.address="{{ lodestar_keymanager_interface }}"
      --keymanager.port={{ lodestar_keymanager_port }}
      --keymanager.cors="{{ lodestar_keymanager_cors }}"
{% endif %}
{% if lodestar_enable_doppelganger_protection|bool == True %}
      --doppelgangerProtectionEnabled=true
{% endif %}
      --logLevel={{ lodestar_log_level }}
      --logFileLevel={{ lodestar_log_level }}
      --logFile=/log/lodestar-validator.log
      --logFormat json
{% endif %}
